<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6 pl-25">
                    <h3 class="m-0 font-weight-bold fnt-clr fs-700 p-3">Quality Checklists <i class="fas fa-caret-right px-1"></i>
                        Quality Inspection</h3>
                </div><!-- /.col -->

                <div class="col-sm-6 mt-3">
                    <div class="alig_btns">
                        <div class="add_btn">
                            <button class="btn btn-primary mr-4 mright bg2" data-toggle="modal" data-target="#AddQuality"> +
                                Add checklist</button>
                        </div>

                    </div>
                </div>
            </div><!-- /.row -->


            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive">
                        <!-- <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                        </ngx-table> -->

                        <div class="card-body pt-0">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                              <div class="row">
                                <div class="col-sm-12 col-md-5">
                                  <div class="filter-sect">
                                    <span class="mr-2">Show</span>
                                    <div class="sele-drp">
                                        <select class="form-control">
                                            <option>5</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20</option>
                                        </select>
                                    </div>
                                    <span class="ml-2">Entries</span>
                                </div>
                                </div>


                                <div class="col-sm-12 col-md-7">
                                  <div class="showhide pt-4 text-right floatright">
                                    <span class='text-right'>Show/Hide:</span>
                                    <span><i class="fa fa-table"></i></span>
                                </div>
                                </div>


                            </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1"
                                            class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                            role="grid" aria-describedby="example1_info">
                                            <thead class="cls-light">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        S.No</th>
                                                    <th class="sorting sorting_desc" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending"
                                                        aria-sort="descending">Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        CheckList Names</th>
                                                    <!-- <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        Description</th> -->
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">Checklist ID
                                                    </th>
                                                    <!-- <th ngbDropdown class="sorting" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Uploaded By <i class="fa fa-chevron-down" id="dropdownBasic1"
                                                            ngbDropdownToggle></i>
                                                        <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                            <li> <button class="fs-12" ngbDropdownItem>Action -
                                                                    1</button></li>
                                                            <li><button class="fs-12" ngbDropdownItem>Another
                                                                    Action</button></li>
                                                            <li><button class="fs-12" ngbDropdownItem>Something else is
                                                                    here</button>
                                                            </li>
                                                        </ul>

                                                    </th> -->

                                                    <th ngbDropdown class="sorting" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Project Assigned
                                                        <!-- <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                            <li> <button class="fs-12" ngbDropdownItem>Action -
                                                                    1</button></li>
                                                            <li><button class="fs-12" ngbDropdownItem>Another
                                                                    Action</button></li>
                                                            <li><button class="fs-12" ngbDropdownItem>Something else is
                                                                    here</button>
                                                            </li>
                                                        </ul> -->

                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="odd" *ngFor="let Quality of Qualitylist
                                                | paginate
                                            :{
                                              id:'listing_pagination',
                                              itemsPerPage:5,
                                              currentPage:page,
                                              totalItems:totalRecords
                                            }
                                                ;let i = index">
                                                    <td class="dtr-control">{{i+1}}</td>
                                                    <td class="sorting_1">22-09-21</td>
                                                    <td>
                                                        <ul>
                                                            <li *ngFor="let checklist of Quality.quality_checklist">
                                                                <a class="cursor_pointer text-decoration-none" (click)="checklistview(checklist.id)">{{checklist.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li *ngFor="let checklist of Quality.quality_checklist">
                                                                <a class="cursor_pointer text-decoration-none">{{checklist.checklist_id}}</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>{{Quality.name}}</td>
                                                    <!-- <td>User</td> -->
                                                    <!-- <td>Kittu Johnl</td> -->

                                                    <td>
                                                        <!-- <a class="cursor_pointer">
                                                            <i class='fa fa-eye mr-1'></i>
                                                        </a> -->
                                                        <a class="cursor_pointer" data-toggle="modal" data-target="#UpdateQuality" (click)="edit(Quality.id,Quality.name)">
                                                        <i class="fa fa-edit mr-1"></i>
                                                        </a>
                                                        <a class="cursor_pointer" data-toggle="modal" data-target="#DeleteQuality" (click)="delete(Quality.id)">
                                                        <i class="fa fa-trash mr-1"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                         
                                            </tbody>

                                        </table>
                                        <div class="my-2 text-right">
                                            <pagination-controls  id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
                                        </div>
                                    </div>

                                </div>
                                <!-- <div class="row">
                                  <div class="col-md-6 col-md-offset-6">


                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                          <ul class="pagination float-rt">
                                              <li class="paginate_button page-item previous disabled"
                                                  id="example1_previous"><a href="#" aria-controls="example1"
                                                      data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                              <li class="paginate_button page-item bg-blue active"><a href="#"
                                                      aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                      class="page-link">1</a></li>
                                              <li class="paginate_button page-item "><a href="#"
                                                      aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                      class="page-link">2</a></li>
                                              <li class="paginate_button page-item next" id="example1_next"><a
                                                      href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                                                      class="page-link">Next</a></li>
                                          </ul>
                                      </div>
                                  </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-12">
                                     <ngx-spinner
                                     bdColor="rgba(51,51,51,0.8)"
                                     size="medium"
                                     color="#fff"
                                     type="ball-scale-multiple"
                                   >
                                     <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                                   </ngx-spinner>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- checklist view -->


<div class="modal fade" id="ChecklistView" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Questions View Record</h4>
      
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closechecklist()">
                <span aria-hidden="true">&times;</span>
            </button>
      
        </div>
        <div class="modal-body">
           <div *ngIf="questiondata">
            <div class="card my-2" *ngFor="let check of checklists">
                <div class="card-body">
                    <p class="card-text">{{check.question}}</p>
                  </div>
            </div>
           </div>
            <div class="card pd-10" *ngIf="noquestions">
                <p class="card-text text-danger">no questions is available</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary bg2" data-dismiss="modal" aria-label="Close" (click)="closechecklist()">OK</button>
        </div>
      </div>
      </div>
</div>

<!-- Add QualityInspection -->

<ng-template #content let-modal>
    <div class="modal-header bg-blu">
        <h4 class="modal-title mb-0" id="modal-basic-title">Add Quality Checklist Inspection</h4>
        <span aria-hidden="true" class="close cursor_point" aria-label="Close"
            (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body">

        <form [formGroup]="AddQualityInspection">
            <div class="row">
                <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Date:</label>
                    <input type="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid':submitted && f.date.errors}" />
                    <div class="invalid-feedback" *ngIf="submitted && f.date.errors">
                        <div class="fs-15 fw-700" *ngIf="f.date.errors.required">
                            Date is required
                        </div>
                    </div>
                </div> -->

                <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Quality Checklist Name:</label>
                    <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                        <div class="fs-15 fw-700" *ngIf="f.name.errors.required">
                            Name is required
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Description:</label>
                    <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid':submitted && f.description.errors}"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
                        <div class="fs-15 fw-700" *ngIf="f.description.errors.required">
                            Description is required
                        </div>
                    </div>
                </div> -->

                <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">ID:</label>
                    <input type="text" class="form-control" />
                </div> -->

                <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Uploaded By:</label>
                    <input type="text" class="form-control" formControlName="uploaded" [ngClass]="{'is-invalid':submitted && f.uploaded.errors}"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.uploaded.errors">
                        <div class="fs-15 fw-700" *ngIf="f.uploaded.errors.required">
                            Uploaded is required
                        </div>
                    </div>
                </div> -->

                <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Project Assigned:</label>
                    <input type="text" class="form-control" formControlName="project_assigned" [ngClass]="{'is-invalid':submitted && f.project_assigned.errors}"/>
                    <div class="invalid-feedback" *ngIf="submitted && f.project_assigned.errors">
                        <div class="fs-15 fw-700" *ngIf="f.project_assigned.errors.required">
                            Project Assigned is required
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="Add()">Add Checklist</button>
    </div>
</ng-template>

<div class="modal fade" id="AddQuality" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Add Quality Checklist Inspection</h4>
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
      
        </div>
        <div class="modal-body">

            <form [formGroup]="AddQualityInspection">
                <div class="row">
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Date:</label>
                        <input type="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid':submitted && f.date.errors}" />
                        <div class="invalid-feedback" *ngIf="submitted && f.date.errors">
                            <div class="fs-15 fw-700" *ngIf="f.date.errors.required">
                                Date is required
                            </div>
                        </div>
                    </div> -->
    
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Quality Checklist Name:</label>
                        <!-- <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}"/> -->
                        <ng-multiselect-dropdown
                        [placeholder]="'Assigned Quality Checklist'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [ngModelOptions]="{standalone:true}" formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}">
                      </ng-multiselect-dropdown>
                        <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                            <div class="fs-15 fw-700" *ngIf="f.name.errors.required">
                                Quality Checklist Name is required
                            </div>
                        </div>
                    </div>
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Description:</label>
                        <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid':submitted && f.description.errors}"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
                            <div class="fs-15 fw-700" *ngIf="f.description.errors.required">
                                Description is required
                            </div>
                        </div>
                    </div> -->
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">ID:</label>
                        <input type="text" class="form-control" />
                    </div> -->
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Uploaded By:</label>
                        <input type="text" class="form-control" formControlName="uploaded" [ngClass]="{'is-invalid':submitted && f.uploaded.errors}"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.uploaded.errors">
                            <div class="fs-15 fw-700" *ngIf="f.uploaded.errors.required">
                                Uploaded is required
                            </div>
                        </div>
                    </div> -->
    
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Project Assigned:</label>
                        <select class="form-select" formControlName="project_assigned" [ngClass]="{'is-invalid':submitted && f.project_assigned.errors}">
                        <option value="" selected>-- select project --</option>
                        <option value="{{project.id}}" *ngFor="let project of projectlist">{{project.name}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && f.project_assigned.errors">
                            <div class="fs-15 fw-700" *ngIf="f.project_assigned.errors.required">
                                Project Assigned is required
                            </div>
                        </div>
                    </div>
    
                </div>
            </form>
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Add()">Add Checklist</button>
        </div>
      </div>
    </div>
</div>

<!-- update -->

<div class="modal fade" id="UpdateQuality" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Update Quality</h4>
           
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
      
        </div>
        <div class="modal-body">

            <form [formGroup]="UpdateQualityInspection">
                <div class="row">
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Date:</label>
                        <input type="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid':updatesubmitted && u.date.errors}" />
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.date.errors">
                            <div class="fs-15 fw-700" *ngIf="u.date.errors.required">
                                Date is required
                            </div>
                        </div>
                    </div> -->
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Name:</label>
                        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':updatesubmitted && u.name.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.name.errors">
                            <div class="fs-15 fw-700" *ngIf="u.name.errors.required">
                                Name is required
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Quality Checklist Name:</label>
                        <!-- <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}"/> -->
                        <ng-multiselect-dropdown
                        [placeholder]="'Assigned Quality Checklist'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [ngModelOptions]="{standalone:true}" formControlName="name" [ngClass]="{'is-invalid':updatesubmitted && u.name.errors}">
                      </ng-multiselect-dropdown>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.name.errors">
                            <div class="fs-15 fw-700" *ngIf="u.name.errors.required">
                                Quality Checklist Name is required
                            </div>
                        </div>
                    </div>
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Description:</label>
                        <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid':updatesubmitted && u.description.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.description.errors">
                            <div class="fs-15 fw-700" *ngIf="u.description.errors.required">
                                Description is required
                            </div>
                        </div>
                    </div> -->
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">ID:</label>
                        <input type="text" class="form-control" />
                    </div> -->
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Uploaded By:</label>
                        <input type="text" class="form-control" formControlName="uploaded" [ngClass]="{'is-invalid':updatesubmitted && u.uploaded.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.uploaded.errors">
                            <div class="fs-15 fw-700" *ngIf="u.uploaded.errors.required">
                                Uploaded is required
                            </div>
                        </div>
                    </div> -->
    
                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Project Assigned:</label>
                        <input type="text" class="form-control" formControlName="project_assigned" [ngClass]="{'is-invalid':updatesubmitted && u.project_assigned.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.project_assigned.errors">
                            <div class="fs-15 fw-700" *ngIf="u.project_assigned.errors.required">
                                Project Assigned is required
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Project Assigned:</label>
                        <select class="form-select" [(ngModel)]="project_id" formControlName="project_assigned" [ngClass]="{'is-invalid':updatesubmitted && u.project_assigned.errors}">
                        <option value="" selected>-- select project --</option>
                        <option value="{{project.id}}" *ngFor="let project of projectlist" [selected]="project.id == project_id">{{project.name}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.project_assigned.errors">
                            <div class="fs-15 fw-700" *ngIf="u.project_assigned.errors.required">
                                Project Assigned is required
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Update()">Update</button>
        </div>
      </div>
    </div>
</div>

<!-- delete  -->

<div class="modal fade" id="DeleteQuality" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content pd-20 delete-bg">
         <h1 class="text-white fs-20">Are you sure, you want to delete the Project</h1>
         <div class="d-flex justify-content-end">
            <button class="btn btn-primary bg2 mr-2" data-dismiss="modal" aria-label="Close">No</button>
            <button class="btn btn-primary bg2" (click)="Delete()">Yes</button>
         </div>
      </div>
    </div>
</div>