<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-4 pl-25">
                    <h3 class="m-0 font-weight-bold fnt-clr fs-700 p-3">Change Password</h3>
                </div><!-- /.col -->
                <div class="container-fluid pl-25 pr-25">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            <form action="" [formGroup]="ChangePassword">
                                <div class="form-group">
                                    <label for="">Current Password</label>
                                    <div class="input-group">
                                        <input [type]="currentpasw ? 'text' : 'password'" class="form-control" placeholder="Enter Current Password" formControlName="c_password" [ngClass]="{ 'is-invalid': submitted && f.c_password.errors }">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i
                                                class="fa"
                                                [ngClass]="{
                                                  'fa-eye-slash': !currentpasw,
                                                  'fa-eye': currentpasw
                                                }"
                                                (click)="Curentpassword()"
                                              ></i>
                                            </span>
                                        </div>
                                        <div *ngIf="submitted && f.c_password.errors" class="invalid-feedback">
                                            <div *ngIf="f.c_password.errors.required" class="">Current Password is required</div>
                                            <div *ngIf="f.c_password.errors.pattern" class="">Curent Password should have min 8 characters with atleast 1 uppercase , 1 lowercase , 1 number & 1 special character.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">New Password</label>
                                    <div class="input-group">
                                        <input [type]="newpasw ? 'text' : 'password'" class="form-control" placeholder="Enter New Password" formControlName="n_password" [ngClass]="{ 'is-invalid': submitted && f.n_password.errors }">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i
                                                class="fa"
                                                [ngClass]="{
                                                  'fa-eye-slash': !newpasw,
                                                  'fa-eye': newpasw
                                                }"
                                                (click)="Newpassword()"
                                              ></i>
                                            </span>
                                        </div>
                                        <div *ngIf="submitted && f.n_password.errors" class="invalid-feedback">
                                            <div *ngIf="f.n_password.errors.required" class="">New Password is required</div>
                                            <div *ngIf="f.n_password.errors.pattern" class="">New Password should have min 8 characters with atleast 1 uppercase , 1 lowercase , 1 number & 1 special character.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Confirm Password</label>
                                    <div class="input-group">
                                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Enter Confirm Password" formControlName="r_password" [ngClass]="{ 'is-invalid': submitted && f.r_password.errors }">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                              <i
                                                class="fa"
                                                [ngClass]="{
                                                  'fa-eye-slash': !fieldTextType,
                                                  'fa-eye': fieldTextType
                                                }"
                                                (click)="toggleFieldTextType()"
                                              ></i>
                                            </span>
                                        </div>
                                        <div *ngIf="submitted && f.r_password.errors" class="invalid-feedback">
                                            <div *ngIf="f.r_password.errors.required" class="">Confirm Password is required</div>
                                            <div *ngIf="f.r_password.errors.pattern" class="">Confirm Password should have min 8 characters with atleast 1 uppercase , 1 lowercase , 1 number & 1 special character.</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="offset-5 col-md-6 mb-3">
                            <button class="btn btn-primary bg2" type="button" (click)="submit()">Change Password</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
</div>