<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="font-weight-bold fnt-clr fs-700 header-bottom w-185">Technical Queries Details</h3>
                </div><!-- /.col -->
  
                <div class="col-sm-6">
                    <div class="alig_btns p-3"> 
                        <!-- <div class="add_btn">
                            <button class="btn btn-primary mr-2 mright bg2" data-toggle="modal" data-target="#AddTechnical">
                                + Add Technical Suport</button>
                        </div> -->
  
                        <!-- <div class="bulk_btn">
                            <span class="btn btn-default btn-file bg1 mtop">
                                Bulk Upload <input type="file">
                            </span>
  
                            <div class="small06">*In CSV File or Excel Format</div>
                        </div> -->
                    </div>
                </div>
            </div><!-- /.row -->
  
  
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="table-responsive">
                        <!-- <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                        </ngx-table> -->
  
                        <div class="card-body">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
  
                                <div class="row">
                                  <div class="col-sm-12">
                                      <table id="example1"
                                          class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                          role="grid" aria-describedby="example1_info">
                                          <thead class="cls-cream">
                                              <tr role="row">
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="Rendering engine: activate to sort column ascending">
                                                      S.No</th>
                                                  <th class="sorting sorting_desc" tabindex="0"
                                                      aria-controls="example1" rowspan="1" colspan="1"
                                                      aria-label="Browser: activate to sort column ascending"
                                                      aria-sort="descending">Date</th>
                                                      <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="CSS grade: activate to sort column ascending">Technical Suport Id
                                                  </th>
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                  rowspan="1" colspan="1"
                                                  aria-label="CSS grade: activate to sort column ascending">License Id
                                                 </th>
                                                 <th class="sorting" tabindex="0" aria-controls="example1"
                                                 rowspan="1" colspan="1"
                                                 aria-label="CSS grade: activate to sort column ascending">Client Id
                                                </th>
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="Platform(s): activate to sort column ascending">
                                                      Email Address</th>

                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="CSS grade: activate to sort column ascending">
                                                      Type
                                                  </th>
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="Engine version: activate to sort column ascending">
                                                      Description
                                                  </th>
  
                                                  <th>Action
                                                  </th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                           <tr>
                                               <td>1</td>
                                               <td>18-10-21</td>
                                               <td>Tech00112</td>
                                               <td>Lic0001</td>
                                               <td>Cli0001</td>
                                               <td>Inspection@gmail.com</td>
                                               <td>Website</td>
                                               <td>I have facing the one inspection error</td>
                                               <td>
                                                <a href="">
                                                    <i class="fa fa-eye mr-1"></i>
                                                </a>
                                                   <a href="">
                                                       <i class="fa fa-trash"></i>
                                                   </a>
                                               </td>
                                           </tr>
                                             
                                          </tbody>
  
                                      </table>
                                  </div>
                                </div>
                                  <!-- <div class="row">
                                  <div class="col-md-6 col-md-offset-6">
  
                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                          <ul class="pagination float-rt">
                                              <li class="paginate_button page-item previous disabled"
                                                  id="example1_previous"><a href="#" aria-controls="example1"
                                                      data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                              <li class="paginate_button page-item active-cream active"><a href="#"
                                                      aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                      class="page-link">1</a></li>
                                              <li class="paginate_button page-item "><a href="#"
                                                      aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                      class="page-link">2</a></li>
                                              <li class="paginate_button page-item next" id="example1_next"><a
                                                      href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                                                      class="page-link">Next</a></li>
                                          </ul>
                                      </div>
                                  </div>
                                  </div> -->
                                  <div class="row">
                                      <div class="col-md-12">
                                       <ngx-spinner
                                       bdColor="rgba(51,51,51,0.8)"
                                       size="medium"
                                       color="#fff"
                                       type="ball-scale-multiple"
                                     >
                                       <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                                     </ngx-spinner>
                                      </div>
                                  </div>
                                  
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
</div>