<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-2">
                    <h3 class="font-weight-bold fnt-clr fs-700 header-bottom w-130">
                        Safety Inspection</h3>
                </div><!-- /.col -->

                <div class="col-sm-10">
                    <div class="alig_btns">
                        <div class="add_btn">
                            <button class="btn btn-primary mr-2 mright bg2" data-target="#AddQuality" data-toggle="modal"> + Add
                                checklist</button>
                        </div>
                        <div class="bulk_btn">
                          <span class="btn btn-default btn-file bg1 mtop">
                              Bulk Upload <input type="file">
                          </span>

                          <div class="small06">*In CSV File or Excel Format</div>
                      </div>

                    </div>
                </div>
            </div><!-- /.row -->


            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive">
                        <!-- <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                        </ngx-table> -->

                        <div class="card-body p-0">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                              <!-- <div class="row">
                                <div class="col-sm-12 col-md-5">
                                  <div class="filter-sect">
                                    <span class="mr-2">Show</span>
                                    <div class="sele-drp">
                                        <select class="form-control">
                                            <option>5</option>
                                            <option>10</option>
                                            <option>15</option>
                                            <option>20</option>
                                        </select>
                                    </div>
                                    <span class="ml-2">Entries</span>
                                </div>
                                </div>


                                <div class="col-sm-12 col-md-7">
                                  <div class="showhide pt-4 text-right floatright">
                                    <span class='text-right'>Show/Hide:</span>
                                    <span><i class="fa fa-table"></i></span>
                                </div>
                              </div>
                              </div> -->

                                <div class="row">
                                    <div class="col-sm-12 p-0">
                                        <table id="example1"
                                            class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                            role="grid" aria-describedby="example1_info">
                                            <thead class="cls-cream">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        S.No</th>
                                                    <th class="sorting sorting_desc" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending"
                                                        aria-sort="descending">Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        Safety Checklist Id</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        Safety Checklist Names</th>


                                                    <th ngbDropdown class="sorting" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Project Assigned

                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="odd" *ngFor="let Quality of Qualitylist
                                                | paginate
                                            :{
                                              id:'listing_pagination',
                                              itemsPerPage:count,
                                              currentPage:page,
                                              totalItems:totalRecords
                                            }
                                                ;let i=index">
                                                    <td class="dtr-control w-45 text-center">{{(page - 1) * count + i + 1}}</td>
                                                    <td class="sorting_1 text-center w-95">{{Quality.created_date | date: 'd-MMM-y'}}</td>
                                                    <td class="w-130">
                                                        {{Quality.saftychecklistid}}

                                                    </td>
                                                    <td>
                                                        {{Quality.name}}

                                                    </td>
                                                    <td class="text-center w-130">
                                                      <select class="form-control assigned_project" aria-label="Default select example" *ngIf="Quality.assign_project.length>0;else elseBlock">
                                                        <option  *ngFor="let project of Quality.assign_project" value="{{project}}" >{{project}}</option>

                                                      </select>
                                                      <ng-template #elseBlock>
                                                        <span class="fs-12 fw-600 pending-text-color">PENDING</span>
                                                      </ng-template>

                                                    </td>

                                                    <td class="text-center w-95">
                                                      <a class="cursor_pointer" data-toggle="modal" data-target="#AssingProject" (click)="AssingProject(Quality.id)">
                                                        <i class="bi bi-badge-ad mr-1"></i>
                                                      </a>
                                                      <a class="cursor_pointer" data-toggle="modal" data-target="#Qualityquestion" (click)="ShowSaftyQuestion(Quality.id)">
                                                        <i class='fa fa-eye mr-1'></i>
                                                        </a>
                                                        <a class="cursor_pointer" data-toggle="modal" data-target="#UpdateQuality" (click)="edit(Quality.id,Quality.name)">
                                                            <i class="fa fa-edit mr-1"></i>
                                                            </a>
                                                            <a class="cursor_pointer" data-toggle="modal" data-target="#DeleteQuality" (click)="delete(Quality.id)">
                                                            <i class="fa fa-trash mr-1"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <div class="my-2 text-right">
                                            <pagination-controls  id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
                                        </div>
                                    </div>

                                </div>

                              <div class="row">
                                <div class="col-md-12">
                                 <ngx-spinner
                                 bdColor="rgba(51,51,51,0.8)"
                                 size="medium"
                                 color="#fff"
                                 type="ball-scale-multiple"
                               >
                                 <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                               </ngx-spinner>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header bg-blu">
        <h4 class="modal-title mb-0" id="modal-basic-title">Add Safety Inspection Checklist</h4>
        <span aria-hidden="true" class="close cursor_point" aria-label="Close"
            (click)="modal.dismiss('Cross click')">&times;</span>
    </div>
    <div class="modal-body">

        <form>
            <div class="row">

                <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Safety Checklist Name:</label>
                    <input type="text" class="form-control" />
                </div>


                <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Project Assigned:</label>
                    <input type="text" class="form-control" />
                </div>

            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Add Checklist</button>
    </div>
</ng-template>


<div class="modal fade" id="ChecklistView" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Questions View Record</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closechecklist()">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body modal-overflow-scroll">
            <div *ngIf="questiondata">
            <div class="card mgb-5" *ngFor="let check of checklists">
                    <div class="card-body">
                        <p class="card-text">{{check.question}}</p>
                      </div>
            </div>
            </div>
            <div class="card pd-10" *ngIf="noquestions">
                <p class="card-text text-danger">no questions is available</p>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary bg2" data-dismiss="modal" aria-label="Close" (click)="closechecklist()">OK</button>
        </div>
      </div>
      </div>
</div>

<div class="modal fade" id="AddQuality" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Add Safety Inspection Checklist</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">
          <table class="w-100">
            <tr>
              <th><input type="checkbox" class="mr-1"/>Select all</th>
              <th>Safty CheckList Name</th>
              <th>Safty CheckList Id</th>
              <th>Preview Question</th>
            </tr>

            <tr *ngFor="let list of librarylists">
              <td><input type="checkbox" (click)="Addchecklist($event)" value="{{list.saftychecklistid}}"/></td>
              <td>{{list.name}}</td>
              <td>{{list.saftychecklistid}}</td>
              <td>
                  <a type="button" (click)="previewquestion(list.id)" data-toggle="modal" data-target="#seftychecklistquestionview">
                    <span class="material-icons">
                      visibility
                      </span>
                    </a>
              </td>

            </tr>

          </table>


        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="Add()">Add Safety Checklist</button>
        </div>
      </div>
    </div>
</div>



<!-- CLICK ON VIEW ICOIN AND OPEN THIS MODEL FOR PRIVIEW QUESTION FOR QUALIFTY -->
<div class="modal fade" id="seftychecklistquestionview" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-blu">
        <h4 class="modal-title mb-0" id="modal-basic-title">Add Quality Checklist Model</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">


          <div class="row">
            <label for="project" class="form-label">Safty Checklist Quesition Previews</label><br/>
            <table>
              <tr cols=12>
                <th><input type="checkbox"/>Select all</th>
                <th>Safty Checklist Quesition </th>
                <th>Question Id</th>
              </tr>

              <tr cols=12 *ngFor="let question of previewquestionlist">
                <td><input type="checkbox" (click)="Select_checklist_saftyquestion($event,question.sefty)" value="{{question.questionid}}"/></td>
                <td>{{question.name}}</td>
                <td>{{question.questionid}}</td>
              </tr>

            </table>

          </div>

          <div class="modal-footer">
            <button type="button" data-dismiss="modal" aria-label="Close" (click)="AddSaftyQuestion()" class="btn btn-primary" >Add Safty Question</button>
          </div>


      </div>

    </div>
  </div>
</div>


<!-- ASIGN PROJECT  -->

<div class="modal fade" id="AssingProject" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-blu">
        <h4 class="modal-title mb-0" id="modal-basic-title">Add Project</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

          <div class="modal-body">


              <div class="row">
                <label for="project" class="form-label">Projects</label><br/>
                <div class="form-group col-md-6 mb-3" *ngFor="let project of projectlist">

                    <input type="checkbox" (click)="AddProject($event)"  value="{{project.projectId}}"/>&nbsp;&nbsp;
                    <span>{{project.project_name}}</span>


                </div>

              </div>

              <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary" (click)="saftycheckAddOnProject()">Assign Project</button>
              </div>


          </div>


    </div>
  </div>
</div>


<!-- update -->

<div class="modal fade" id="UpdateQuality" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Update Quality</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

            <form [formGroup]="UpdateQualityInspection">
                <div class="row">


                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Quality Checklist Name:</label>
                        <!-- <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}"/> -->
                        <ng-multiselect-dropdown
                        [placeholder]="'Assigned Quality Checklist'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [ngModelOptions]="{standalone:true}" formControlName="name" [ngClass]="{'is-invalid':updatesubmitted && u.name.errors}">
                      </ng-multiselect-dropdown>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.name.errors">
                            <div class="fs-13 fw-500" *ngIf="u.name.errors.required">
                                Quality Checklist Name is required
                            </div>
                        </div>
                    </div>



                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Project Assigned:</label>
                        <select class="form-select" [(ngModel)]="project_id" formControlName="project_assigned" [ngClass]="{'is-invalid':updatesubmitted && u.project_assigned.errors}">
                        <option value="" selected>-- select project --</option>
                        <option value="{{project.id}}" *ngFor="let project of projectlist" [selected]="project.id == project_id">{{project.name}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.project_assigned.errors">
                            <div class="fs-13 fw-500" *ngIf="u.project_assigned.errors.required">
                                Project Assigned is required
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Update()">Update</button>
        </div>
      </div>
    </div>
</div>

<!-- delete  -->

<div class="modal fade" id="DeleteQuality" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content pd-20 delete-bg">
         <h1 class="text-white fs-20">Are you sure, you want to delete the Project</h1>
         <div class="d-flex justify-content-end">
            <button class="btn btn-primary bg2 mr-2" data-dismiss="modal" aria-label="Close">No</button>
            <button class="btn btn-primary bg2" (click)="Delete()">Yes</button>
         </div>
      </div>
    </div>
</div>



<!-- SHOW CHECKLIST QUESTION  -->
<div class="modal fade" id="Qualityquestion" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-blu">
        <h4 class="modal-title mb-0" id="modal-basic-title">Add Quality Checklist Model</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">



        <label for="project" class="form-label">Quality Checklist Quesitions</label><br/>

        <div *ngFor="let que of questionlist">
        <ul>
          <li>
            {{que.name}}
          </li>
        </ul>

        </div>

      </div>

    </div>
  </div>
</div>
