<div class="container-fluid px-0">
  <div class="card">
      <div class="content-header">
          <div class="row mb-2">
              <div class="col-sm-6 pl-25">
                  <h3 class="m-0 font-weight-bold fnt-clr fs-700 p-3">Material Details</h3>
              </div><!-- /.col -->

              <div class="col-sm-6">
                  <div class="alig_btns">
                      <div class="add_btn">
                          <button class="btn btn-primary mr-2 mright bg2" data-target="#AddMaterial" data-toggle="modal">
                              + Add Material</button>
                      </div>

                      <div class="bulk_btn">
                          <span class="btn btn-default btn-file bg1 mtop">
                              Bulk Upload <input type="file">
                          </span>

                          <div class="small06">*In CSV File or Excel Format</div>
                      </div>
                  </div>
              </div>
          </div><!-- /.row -->


          <div class="container-fluid">
              <div class="row">
                  <div class="table-responsive">
                      <div class="card-body pt-0">
                          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                              <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="example1"
                                            class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                            role="grid" aria-describedby="example1_info">
                                            <thead class="cls-cream">
                                                <tr role="row">
                                                    <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        S.No</th>
                                                        <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        Date</th>
                                                    <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="Browser: activate to sort column ascending"
                                                        aria-sort="descending">Name</th>
                                                    <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        Material ID</th>
                                                    <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        Description</th>
                                                    <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        BOQ Ref.
                                                    </th>
                                                    <!-- <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Make</th> -->
                                                    <th class="line-ht sorting" rowspan="2" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Project Assigned <i class="fa fa-chevron-down"></i>
                                                    </th>
                                                    <th colspan="2" class="sorting" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Total Quantity <i class="fa fa-chevron-down"></i>
                                                    </th>

                                                    <th colspan="2" class="sorting" tabindex="0"
                                                        aria-controls="example1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Baseline Quantity <i class="fa fa-chevron-down"></i>
                                                    </th>

                                                    <th class="line-ht" rowspan="2">
                                                        Action
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>UOM</th>
                                                    <th>Qty</th>
                                                    <th>UOM</th>
                                                    <th>Qty</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr class="odd" *ngFor="let material of Materiallists
                                                | paginate
                                            :{
                                              id:'listing_pagination',
                                              itemsPerPage:count,
                                              currentPage:page,
                                              totalItems:totalRecords
                                            }
                                                ;let i = index">
                                                    <td class="dtr-control">{{(page - 1) * count + i + 1}}</td>
                                                    <td>{{material.create_date | date: 'd MMMM y'}}</td>
                                                    <td class="sorting_1">{{material.material_name}}</td>
                                                    <td>{{material.materialId}}</td>
                                                    <td>{{material.description}}</td>
                                                    <td>{{material.BOQ}}</td>

                                                    <td>
                                                      <select class="form-control assigned_project" *ngIf="material.assigned_project.length >0;else elseBlock">
                                                        <option value="{{project}}" *ngFor="let project of material.assigned_project">{{project}}</option>
                                                      </select>
                                                      <ng-template #elseBlock>
                                                        pendding

                                                      </ng-template>
                                                    </td>

                                                    <!-- <td>uom1</td> -->
                                                    <td>{{material.UOM}}</td>
                                                    <td>{{material.Total_Quantity}}</td>
                                                    <td>{{material.UOM}}</td>
                                                    <td>{{material.Baseline_Quantity}}</td>
                                                    <td>
                                                        <a class="cursor_pointer" (click)="view(material.material_name,material.materialId,material.description,material.BOQ,material.vendor_name,material.Total_Quantity,material.Baseline_Quantity,material.UOM)">
                                                        <i class='fa fa-eye mr-1'></i>
                                                        </a>
                                                        <a class="cursor_pointer" data-toggle="modal" data-target="#UpdateMaterial" (click)="edit(material.id,material.name,material.mid,material.description,material.boq_ref,material.maker.id,material.maker.name,material.total_uom,material.total_qty,material.b_uom,material.b_qty)">
                                                        <i class="fa fa-edit mr-1"></i>
                                                        </a>
                                                        <a  class="cursor_pointer" data-toggle="modal" data-target="#AssingProject" (click)="AssingProject(material.materialId)">
                                                          <i class="bi bi-badge-ad"></i>
                                                        </a>
                                                        <a class="cursor_pointer" data-toggle="modal" data-target="#DeleteMaterial" (click)="delete(material.id)">
                                                        <i class="fa fa-trash mr-1"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="my-2 text-right">
                                        <pagination-controls  id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                </div>

                            </div>
                          <div class="row">
                            <div class="col-md-12">
                             <ngx-spinner
                             bdColor="rgba(51,51,51,0.8)"
                             size="medium"
                             color="#fff"
                             type="ball-scale-multiple"
                           >
                             <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                           </ngx-spinner>
                            </div>
                          </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
</div>

<!-- view material -->

<div class="modal fade" id="MaterialView" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Material View Record</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="matclose()">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

          <form>
              <div class="row">
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Material Name:</label>
                      <p class="font-weight-bold">{{material_name}}</p>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Material Id:</label>
                      <p class="font-weight-bold">{{materialId}}</p>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Description:</label>
                    <p class="font-weight-bold">{{descriprion}}</p>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">BOQ Ref:</label>
                    <p class="font-weight-bold">{{boq_ref}}</p>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Make:</label>
                    <p class="font-weight-bold">{{maker_name}}</p>
                  </div>
                  <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Total Quality UOM:</label>
                    <p class="font-weight-bold">{{total_uom}}</p>
                  </div> -->
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Total Quality Qty:</label>
                    <p class="font-weight-bold">{{total_qty}} {{uom}}</p>
                  </div>
                  <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">UOM:</label>
                    <p class="font-weight-bold">{{b_qty}}</p>
                  </div> -->
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Baseline Quantity Qty:</label>
                    <p class="font-weight-bold">{{b_qty}} {{uom}}</p>
                  </div>
              </div>
          </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary bg2" data-dismiss="modal" (click)="matclose()" aria-label="Close">OK</button>
        </div>
      </div>
      </div>
</div>

<div class="modal fade" id="AddMaterial" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">Add Material</h4>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form [formGroup]="AddMaterial">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Name:</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Material Name" [ngClass]="{'is-invalid':submitted && f.name.errors}" />
                            <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                <div class="fs-13 fw-500" *ngIf="f.name.errors.required">
                                    Name is required
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Description:</label>
                            <input type="text" class="form-control" formControlName="description" placeholder="Enter Material Description" [ngClass]="{'is-invalid':submitted && f.description.errors}"/>
                            <div class="invalid-feedback" *ngIf="submitted && f.description.errors">
                              <div class="fs-13 fw-500" *ngIf="f.description.errors.required">
                                  Description is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">BOQ Ref:</label>
                            <input type="text" class="form-control" formControlName="boq_ref" placeholder="Enter Material boq_ref" [ngClass]="{'is-invalid':submitted && f.boq_ref.errors}"/>
                            <div class="invalid-feedback" *ngIf="submitted && f.boq_ref.errors">
                              <div class="fs-13 fw-500" *ngIf="f.boq_ref.errors.required">
                                  BOQ Ref is required
                              </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Vendor:</label>
                            <select type="text" class="form-select" formControlName="make" [ngClass]="{'is-invalid':submitted && f.make.errors}">
                                <option value="" selected>-- select the vendor --</option>
                                <option value="{{vendor.vendorId}}" *ngFor="let vendor of vendorlist">
                                    {{vendor.vendorId}}
                                </option>
                             </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.make.errors">
                              <div class="fs-13 fw-500" *ngIf="f.make.errors.required">
                                  Make is required
                              </div>
                            </div>
                        </div> -->

                      <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">UOM:</label>
                        <input type="text" class="form-control" formControlName="uom" placeholder="Enter Material total_uom" [ngClass]="{'is-invalid':submitted && f.uom.errors}"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.uom.errors">
                          <div class="fs-13 fw-500" *ngIf="f.uom.errors.required">
                              UOM is required
                          </div>
                       </div>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Total Quantity:</label>
                      <input type="text" class="form-control" formControlName="total_quantity" placeholder="Enter Material total_quantity" [ngClass]="{'is-invalid':submitted && f.total_quantity.errors}"/>
                      <div class="invalid-feedback" *ngIf="submitted && f.total_quantity.errors">
                          <div class="fs-13 fw-500" *ngIf="f.total_quantity.errors.required">
                              Total Quantity is required
                          </div>
                      </div>
                  </div>

                <div class="form-group col-md-6 mb-3">
                  <label for="dateOfBirth">Baseline Quantity:</label>
                  <input type="text" class="form-control" formControlName="baseline_quantity" placeholder="Enter Material baseline_quantity" [ngClass]="{'is-invalid':submitted && f.baseline_quantity.errors}"/>
                  <div class="invalid-feedback" *ngIf="submitted && f.baseline_quantity.errors">
                      <div class="fs-13 fw-500" *ngIf="f.baseline_quantity.errors.required">
                          Baseline Quantity is required
                      </div>
                  </div>
              </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="Add()">Add Material</button>
            </div>
        </div>
    </div>
</div>

<!-- update -->

<div class="modal fade" id="UpdateMaterial" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">Update Material</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form [formGroup]="UpdateMaterial">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Name:</label>
                            <input type="name" class="form-control" [(ngModel)]="material_name" formControlName="name" [ngClass]="{'is-invalid':updatesubmitted && u.name.errors}" />
                            <div class="invalid-feedback" *ngIf="updatesubmitted && u.name.errors">
                                <div class="fs-13 fw-500" *ngIf="u.name.errors.required">
                                    Name is required
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Material Id:</label>
                            <input type="text" class="form-control" value="{{materialId}}" readonly/>
                            <!-- <div class="invalid-feedback" *ngIf="updatesubmitted && u.id.errors">
                              <div class="fs-13 fw-500" *ngIf="u.id.errors.required">
                                  Id is required
                              </div>
                            </div> -->
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Description:</label>
                            <input type="text" class="form-control" [(ngModel)]="descriprion" formControlName="description" [ngClass]="{'is-invalid':updatesubmitted && u.description.errors}"/>
                            <div class="invalid-feedback" *ngIf="updatesubmitted && u.description.errors">
                              <div class="fs-13 fw-500" *ngIf="u.description.errors.required">
                                Description is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">BOQ Ref:</label>
                            <input type="text" class="form-control" [(ngModel)]="boq_ref" formControlName="boq_ref" [ngClass]="{'is-invalid':updatesubmitted && u.boq_ref.errors}"/>
                            <div class="invalid-feedback" *ngIf="updatesubmitted && u.boq_ref.errors">
                              <div class="fs-13 fw-500" *ngIf="u.boq_ref.errors.required">
                                  BOQ Ref is required
                              </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Vendor:</label>
                            <select type="text" class="form-select" [(ngModel)]="maker_id" formControlName="make" [ngClass]="{'is-invalid':updatesubmitted && u.make.errors}">
                                <option value="{{vendor.id}}" *ngFor="let vendor of vendorlist" [selected]="vendor.id == maker_id" >{{vendor.vendorId}}</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="updatesubmitted && u.make.errors">
                              <div class="fs-13 fw-500" *ngIf="u.make.errors.required">
                                  Make is required
                              </div>
                            </div>
                        </div>


                      <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">UOM:</label>
                        <input type="text" class="form-control" [(ngModel)]="total_uom" formControlName="uom" [ngClass]="{'is-invalid':updatesubmitted && u.uom.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.uom.errors">
                          <div class="fs-13 fw-500" *ngIf="u.uom.errors.required">
                               UOM is required
                          </div>
                       </div>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Total Quantity:</label>
                      <input type="text" class="form-control" [(ngModel)]="total_qty" formControlName="total_quantity" [ngClass]="{'is-invalid':updatesubmitted && u.total_quantity.errors}"/>
                      <div class="invalid-feedback" *ngIf="updatesubmitted && u.total_quantity.errors">
                          <div class="fs-13 fw-500" *ngIf="u.total_quantity.errors.required">
                              Total Quantity is required
                          </div>
                      </div>
                  </div>

                <div class="form-group col-md-6 mb-3">
                  <label for="dateOfBirth">Baseline Quantity:</label>
                  <input type="text" class="form-control" [(ngModel)]="b_qty" formControlName="baseline_quantity" [ngClass]="{'is-invalid':updatesubmitted && u.baseline_quantity.errors}"/>
                  <div class="invalid-feedback" *ngIf="updatesubmitted && u.baseline_quantity.errors">
                      <div class="fs-13 fw-500" *ngIf="u.baseline_quantity.errors.required">
                          Baseline Quantity is required
                      </div>
                  </div>
              </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="Update()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- delete  -->

<div class="modal fade" id="DeleteMaterial" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content pd-20 delete-bg">
            <h1 class="text-white fs-20">Are you sure, you want to delete the Material</h1>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary bg2 mr-2" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-primary bg2" (click)="Delete()">Yes</button>
            </div>
        </div>
    </div>
</div>


<!-- ASSIGN PROJECT -->


<!-- ASIGN PROJECT  -->

<div class="modal fade" id="AssingProject" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-blu">
        <h4 class="modal-title mb-0" id="modal-basic-title">Add Project</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">


          <div class="row">
            <label for="project" class="form-label">Projects</label><br/>
            <div class="form-group col-md-6 mb-3" *ngFor="let project of ClientProject">

                <input type="checkbox" (click)="AddProject($event)" value="{{project.projectId}}"/>{{project.projectId}}



            </div>

          </div>

          <div class="modal-footer">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary" (click)="MaterialAddOnProject()">Assign Project</button>
          </div>


      </div>

    </div>
  </div>
</div>

