<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6 pl-25">
                    <h3 class="m-0 font-weight-bold fnt-clr fs-700 p-3">Projects Details</h3>
                </div><!-- /.col -->

                <div class="col-sm-6">
                    <div class="alig_btns p-3">
                        <div class="add_btn">
                            <button class="btn btn-primary mr-2 mright bg2" data-toggle="modal"
                                data-target="#AddProject">
                                + Add Project</button>
                        </div>

                        <!-- 
                        <div class="bulk_btn">
                            <span class="btn btn-default btn-file bg1 mtop">
                                Bulk Upload <input type="file">
                            </span>

                            <div class="small06">*In CSV File or Excel Format</div>
                        </div> -->
                    </div>
                </div>
            </div><!-- /.row -->


            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive">
                        <!-- <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                        </ngx-table> -->

                        <div class="card-body pt-0">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                <div class="row" *ngIf="totalRecords !== 0;else elseBlack">
                                    <div class="col-sm-12">
                                        <table id="example1"
                                            class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                            role="grid" aria-describedby="example1_info">
                                            <thead class="cls-light">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        S.No</th>
                                                    <th class="sorting sorting_desc" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending"
                                                        aria-sort="descending">Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        Name</th>

                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Location</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Project Id</th>
                                                    <!-- <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Employees Details</th>
                                                    <th ngbDropdown class="sorting" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Material Details

                                                    </th>
                                                    <th ngbDropdown class="sorting" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Approver


                                                    </th> -->

                                                    <th rowspan="1" colspan="1">Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="odd" *ngFor="let project of projectlist
                                                | paginate
                                            :{
                                              id:'listing_pagination',
                                              itemsPerPage:count,
                                              currentPage:page,
                                              totalItems:totalRecords
                                            }
                                                ;let i = index">
                                                    <td class="dtr-control">{{(page - 1) * count + i + 1}}</td>
                                                    <td class="sorting_1">{{project.create_date | date: 'd MMMM y'}}</td>
                                                    <td>{{project.project_name}}</td>
                                                    <td>{{project.city}}</td>
                                                    <td>{{project.projectId}}</td>
                                                    <!-- <td>
                                                        <ul>
                                                            <li *ngFor="let employee of project.employeeId">
                                                                <a class="cursor_pointer text-decoration-none"
                                                                    (click)="employedetails(employee.user.id)">
                                                                    {{employee}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li *ngFor="let material of project.materialId">
                                                                <a class="cursor_pointer text-decoration-none"
                                                                    (click)="materialdetails(material.id)">
                                                                    {{material}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>{{project.approver}}</td> -->
                                                    <td>
                                                        <a class="cursor_pointer" data-toggle="modal"
                                                            data-target="#View"
                                                            (click)="view(project.project_name,project.city,project.approver)">
                                                            <i class='fa fa-eye mr-1'></i>
                                                        </a>
                                                        <a class="cursor_pointer" data-toggle="modal"
                                                            data-target="#UpdateProject"
                                                            (click)="edit(project.projectId,project.project_name,project.city,project.approver)">
                                                            <i class="fa fa-edit mr-1"></i>
                                                        </a>
                                                        <a class="cursor_pointer" data-toggle="modal"
                                                            data-target="#DeleteProject"
                                                            (click)="delete(project.projectId)">
                                                            <i class="fa fa-trash mr-1"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <div class="my-2 text-right">
                                            <pagination-controls id="listing_pagination" (pageChange)="page = $event">
                                            </pagination-controls>
                                        </div>
                                    </div>

                                </div>
                                <ng-template #elseBlack>
                                    <div class="row my-2">
                                        <div class="col-md-12">
                                            <div class="card pd-10 text-center" style="background-color: #f7f8f8;">
                                                <h1 class="mgb-0 fs-20 fw-700 opacity-8">No Projects is Available</h1>
                                                <!-- <div>
                                                    <img src="assets/images/no-data.png" alt="" class="img-fluid">
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
                                            type="ball-scale-multiple">
                                            <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                                        </ngx-spinner>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- view -->

<div class="modal fade" id="View" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">View Record</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Name:</label>
                            <p class="font-weight-bold">{{projectname}}</p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Location:</label>
                            <p class="font-weight-bold">{{location}}</p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Approver:</label>
                            <p class="font-weight-bold">{{Approver}}</p>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bg2" data-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="EmployeeView" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">Employee View Record</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="empclose()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">First Name:</label>
                            <p class="font-weight-bold">{{first_name}}</p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Email:</label>
                            <p class="font-weight-bold">{{email}}</p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Mobile:</label>
                            <p class="font-weight-bold">{{mobile}}</p>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bg2" data-dismiss="modal" (click)="empclose()"
                    aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VendorView" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">Vendor View Record</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="vendorclose()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="form-group col-md-12 mb-3 text-center">
                            <label for="dateOfBirth" class="font-weight-bold">Vendor Name:</label>
                            <p class="fs-15">{{vendor_name}}</p>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bg2" data-dismiss="modal" (click)="vendorclose()"
                    aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Projects -->

<div class="modal fade" id="AddProject" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">Add Projects</h4>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form [formGroup]="AddProject">
                    <div class="row">
                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Date:</label>
                        <input type="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid':submitted && f.date.errors}"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.date.errors">
                            <div class="fs-13 fw-500" *ngIf="f.date.errors.required">
                                Date is required
                            </div>
                        </div>
                    </div> -->

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Name:</label>
                            <input type="text" class="form-control" placeholder="Entrer Project Name"
                                formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}" />
                            <div class="invalid-feedback" *ngIf="submitted && f.name.errors">
                                <div class="fs-13 fw-500" *ngIf="f.name.errors.required">
                                    Name is required
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Phase:</label>
                        <input type="text" class="form-control" formControlName="phase" [ngClass]="{'is-invalid':submitted && f.phase.errors}"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.phase.errors">
                            <div class="fs-13 fw-500" *ngIf="f.phase.errors.required">
                                Phase is required
                            </div>
                        </div>
                    </div> -->

                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">ID:</label>
                        <input type="text" class="form-control" formControlName="id" [ngClass]="{'is-invalid':submitted && f.id.errors}"/>
                        <div class="invalid-feedback" *ngIf="submitted && f.id.errors">
                            <div class="fs-13 fw-500" *ngIf="f.id.errors.required">
                                Id is required
                            </div>
                        </div>
                    </div> -->

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Location City:</label>
                            <input type="text" class="form-control" formControlName="location"
                                placeholder="Enter Location City"
                                [ngClass]="{'is-invalid':submitted && f.location.errors}" />
                            <div class="invalid-feedback" *ngIf="submitted && f.location.errors">
                                <div class="fs-13 fw-500" *ngIf="f.location.errors.required">
                                    Location is required
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Type:</label>
                        <select class="form-control" formControlName="type" [ngClass]="{'is-invalid':submitted && f.type.errors}">
                            <option>Yes</option>
                            <option>Nos</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && f.type.errors">
                            <div class="fs-13 fw-500" *ngIf="f.type.errors.required">
                                Type is required
                            </div>
                        </div>
                    </div> -->

                        <!-- <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Approver:</label>
                            <select class="form-select" [(ngModel)]="Approver" [ngModelOptions]="{standalone:true}">
                                <option value="undefined" selected>-- select the approver --</option>
                                <option value="{{emp.employee_name}}" *ngFor="let emp of employelist">
                                    {{emp.employee_name}}</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.approver.errors">
                            <div class="fs-13 fw-500" *ngIf="f.approver.errors.required">
                                Project Address is required
                            </div>
                        </div>
                        </div> -->

                        <!-- <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Assigned Employee:</label>
                            <select class="form-select">
                           <option value="" selected>-- select the employe --</option>
                           <option value="" *ngFor="let emp of employelist">{{emp.user.first_name}}</option>
                        </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.approver.errors">
                            <div class="fs-13 fw-500" *ngIf="f.approver.errors.required">
                                Project Address is required
                            </div>
                        </div>

                            <ng-multiselect-dropdown [placeholder]="'Assigned employee'" [settings]="dropdownSettings"
                                [data]="dropdownList" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone:true}">
                            </ng-multiselect-dropdown>

                        </div> -->


                        <!-- <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Assigned Materials:</label>
                            <select class="form-select">
                           <option value="" selected>-- select the employe --</option>
                           <option value="" *ngFor="let emp of employelist">{{emp.user.first_name}}</option>
                        </select>
                            <div class="invalid-feedback" *ngIf="submitted && f.approver.errors">
                            <div class="fs-13 fw-500" *ngIf="f.approver.errors.required">
                                Project Address is required
                            </div>
                        </div>

                            <ng-multiselect-dropdown [placeholder]="'Assigned Materials'"
                                [settings]="MaterialdropdownSettings" [data]="Material_List"
                                [(ngModel)]="selectedmaterial" [ngModelOptions]="{standalone:true}">
                            </ng-multiselect-dropdown>

                        </div> -->


                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="Add()">Add Project</button>
            </div>
        </div>
    </div>
</div>

<!-- update -->

<div class="modal fade" id="UpdateProject" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blu">
                <h4 class="modal-title mb-0" id="modal-basic-title">Update Projects</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">

                <form [formGroup]="UpdateProject">
                    <div class="row">
                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Date:</label>
                        <input type="date" class="form-control" formControlName="date" [ngClass]="{'is-invalid':updatesubmitted && u.date.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.date.errors">
                            <div class="fs-13 fw-500" *ngIf="u.date.errors.required">
                                Date is required
                            </div>
                        </div>
                    </div> -->

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Name:</label>
                            <input type="text" class="form-control" [(ngModel)]="projectname" formControlName="name"
                                [ngClass]="{'is-invalid':updatesubmitted && u.name.errors}" />
                            <div class="invalid-feedback" *ngIf="updatesubmitted && u.name.errors">
                                <div class="fs-13 fw-500" *ngIf="u.name.errors.required">
                                    Name is required
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Phase:</label>
                        <input type="text" class="form-control" formControlName="phase" [ngClass]="{'is-invalid':updatesubmitted && u.phase.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.phase.errors">
                            <div class="fs-13 fw-500" *ngIf="u.phase.errors.required">
                                Phase is required
                            </div>
                        </div>
                    </div> -->

                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">ID:</label>
                        <input type="text" class="form-control" formControlName="id" [ngClass]="{'is-invalid':updatesubmitted && u.id.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.id.errors">
                            <div class="fs-13 fw-500" *ngIf="u.id.errors.required">
                                Id is required
                            </div>
                        </div>
                    </div> -->

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Location:</label>
                            <input type="text" class="form-control" formControlName="location" [(ngModel)]="location"
                                [ngClass]="{'is-invalid':updatesubmitted && u.location.errors}" />
                            <div class="invalid-feedback" *ngIf="updatesubmitted && u.location.errors">
                                <div class="fs-13 fw-500" *ngIf="u.location.errors.required">
                                    Location is required
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Type:</label>
                        <select class="form-control" formControlName="type" [ngClass]="{'is-invalid':updatesubmitted && u.type.errors}">
                            <option>Yes</option>
                            <option>Nos</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="updatesubmitted && u.type.errors">
                            <div class="fs-13 fw-500" *ngIf="u.type.errors.required">
                                Type is required
                            </div>
                        </div>
                    </div> -->
                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Approver:</label>
                            <select class="form-select" #approver>
                                <!-- <option value="undefined" selected>-- select the Approver --</option> -->
                                <option [value]="emp.id" *ngFor="let emp of employelist"
                                    [selected]="emp.employeeId == empseleted">{{emp.employeeId}}</option>
                            </select>
                            <!-- <div class="invalid-feedback" *ngIf="submitted && f.approver.errors">
                            <div class="fs-13 fw-500" *ngIf="f.approver.errors.required">
                                Project Address is required
                            </div>
                        </div> -->
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Assigned Employee:</label>
                            <!-- <select class="form-select">
                           <option value="" selected>-- select the employe --</option>
                           <option value="" *ngFor="let emp of employelist">{{emp.user.first_name}}</option>
                        </select> -->
                            <!-- <div class="invalid-feedback" *ngIf="submitted && f.approver.errors">
                            <div class="fs-13 fw-500" *ngIf="f.approver.errors.required">
                                Project Address is required
                            </div>
                        </div> -->

                            <ng-multiselect-dropdown [placeholder]="'Assigned employee'" [settings]="dropdownSettings"
                                [data]="dropdownList" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone:true}">
                            </ng-multiselect-dropdown>

                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="dateOfBirth">Assigned Materials:</label>
                            <!-- <select class="form-select">
                           <option value="" selected>-- select the employe --</option>
                           <option value="" *ngFor="let emp of employelist">{{emp.user.first_name}}</option>
                        </select> -->
                            <!-- <div class="invalid-feedback" *ngIf="submitted && f.approver.errors">
                            <div class="fs-13 fw-500" *ngIf="f.approver.errors.required">
                                Project Address is required
                            </div>
                        </div> -->

                            <ng-multiselect-dropdown [placeholder]="'Assigned Materials'"
                                [settings]="MaterialdropdownSettings" [data]="Material_List"
                                [(ngModel)]="selectedmaterial" [ngModelOptions]="{standalone:true}">
                            </ng-multiselect-dropdown>

                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="Update(approver.value)">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- delete  -->

<div class="modal fade" id="DeleteProject" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content pd-20 delete-bg">
            <h1 class="text-white fs-20">Are you sure, you want to delete the Project</h1>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary bg2 mr-2" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-primary bg2" (click)="Delete()">Yes</button>
            </div>
        </div>
    </div>
</div>