<html>

<head>
	<title>My Awesome Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
	<div class="container">
		<div class="login-logo my-5">
			<a class="d-flex align-items-center">
				<img src="assets/img/logo.png" alt="" class="img-fluid">
			</a>
		</div>
		<div class="d-flex justify-content-center">
			<div class="user_card">


				<div class="d-flex justify-content-center form_container">
					<form [formGroup]="Login">
						<div class="input-group">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" value="Username" placeholder="Enter Email / Phone No" formControlName="email">
                            <div *ngIf="f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
						</div>
						<div class="input-group my-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter Password">
							<div class="input-group-append">
							  <span class="input-group-text">
								<i
								  class="fa"
								  [ngClass]="{
									'fa-eye-slash': !fieldTextType,
									'fa-eye': fieldTextType
								  }"
								  (click)="toggleFieldTextType()"
								></i>
							  </span>
							</div>
							<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
								<div *ngIf="f.password.errors.required" class="">Password is required</div>
								<!-- <div *ngIf="f.password.errors.pattern" class="">Password should have min 8 characters with atleast 1 uppercase , 1 lowercase , 1 number & 1 special character.</div> -->
							</div>
						   </div>

					<div class="d-flex justify-content-center my-3 login_container">
				 	<button type="button" name="button" class="btn login_btn" (click)="Submit()">Login</button>
				   </div>
				   <div class="form-group text-center fs-15">
					<!-- <div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customControlInline">
						<label class="custom-control-label" for="customControlInline">Remember me</label>
					</div> -->
					<span>Forget your</span><a href="" class="text-decoration-none mr-1 ml-1"><span>username</span></a> <span class="mr-1 ml-1">or</span>
					<a href="" class="text-decoration-none"><span>password</span></a><span class="ml-1">?</span>
				</div>
					</form>
				</div>


			</div>
		</div>
	</div>
</body>
</html>
