<div class="container-fluid px-0">
    <div class="card p-3 card-bg">
        <div class="content-header">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h2 class="m-0 font-weight-bold fs-600">Safety Dashboard</h2>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div>


        <div class="row mgb-20">
            <div class="col-md-4">
                <select name="" id="" class="form-select select-drop-down" placeholder="Select Project from Dropdown"
                    (change)="onChange($event)">
                    <option value="">Select Project from Dropdown</option>
                    <option *ngFor="let project of project_list" [ngValue]="project">{{project.project_name}}</option>
                </select>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="buttons">
                    <div class="quality-btn"><a class="cursor_pointer text-white text-decoration-none"
                            routerLink="/CilentAdmin">Qality</a></div>
                    <div class="safety-btn"><a class="cursor_pointer text-white text-decoration-none">Safety</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <select name="" id="" class="form-select select-drop-down" placeholder="Select Project from Dropdown"
                    (change)="analysis($event)">
                    <option value="Project Analysis">Project Analysis</option>
                    <option value="Vendor Analysis">Vendor Analysis</option>
                </select>
            </div>
        </div>

        <div class="row" *ngIf="project">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box first-box">
                            <div class="inner">
                                <!-- <h3 class="text-white mgb-10">{{total_inspections}}</h3> -->
                                <h3 class="text-white mgb-10">554</h3>


                                <p class="text-white">Inspection Till Date</p>
                            </div>
                            <div class="icon">
                                <i class="far fa-shopping-bag"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer text-white">More info <i
                                    class="fa fa-arrow-circle-right"></i></a> -->
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box second-box">
                            <div class="inner">
                                <!-- <h3 class="text-white mgb-10">{{success_percent}}</h3> -->
                                <h3 class="text-white mgb-10">98%</h3>

                                <p class="text-white">Inspection Passed</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> -->
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box third-box">
                            <div class="inner">
                                <h3 class="text-white mgb-10">15</h3>

                                <p class="text-white">NCRs Issued</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a> -->
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box fourth-box">
                            <div class="inner">
                                <h3 class="text-white mgb-10">443</h3>

                                <p class="text-white">Site Instructions</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <!-- <a href="#" class="small-box-footer text-white">More info <i
                                    class="fa fa-arrow-circle-right"></i></a> -->
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div style="display: block;" class="card pd-10">
                            <h1 class="fs-15 fw-700 mgb-5" style="border-bottom: 2px solid #000;width:140px">Safety
                                Inspections</h1>
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [colors]="barChartColors" [plugins]="barChartPlugins"
                                [legend]="barChartLegend" [chartType]="barChartType">
                            </canvas>
                        </div>

                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <div style="display: block" class="card pd-10">
                            <h1 class="fs-15 fw-700 mgb-5" style="border-bottom: 2px solid #000;width:120px">Site
                                Inspections</h1>
                            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                [colors]="pieChartColors" (chartHover)="chartHovered($event)"
                                (chartClick)="chartPClicked($event)">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="display: block" class="card pd-10">
                            <h1 class="fs-15 fw-700 mgb-5" style="border-bottom: 2px solid #000;width:95px">Safety NCRs
                            </h1>
                            <canvas baseChart class="pie" [data]="QalitypieChartData" [labels]="QalitypieChartLabels"
                                [chartType]="QalitypieChartType" (chartHover)="QalitychartHovered($event)"
                                (chartClick)="QalitychartPClicked($event)" [colors]="QalitypieChartColors">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pd-10 Covid-19">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="fs-15 fw-700 mgb-10 check-border-bottom">Covid-19 Statistics</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Site Preparedness Inspection</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">150</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Employee Screenings</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">125</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Site Visitor Screenings</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">92</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Site Worker Screenings</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">95</p>
                        </div>
                        <!-- <div class="col-md-8">
                    <p class="list-unstyled fs-13">Form Work Checklist</p>
                 </div>
                 <div class="col-md-4 text-center">
                    <p class="list-unstyled fs-13">70</p>
                 </div>  <div class="col-md-8">
                    <p class="list-unstyled fs-13"> Rainforcement Checklist</p>
                 </div>
                 <div class="col-md-4 text-center">
                    <p class="list-unstyled fs-13">70</p>
                 </div>  <div class="col-md-8">
                    <p class="list-unstyled fs-13">Concrete Checklist</p>
                 </div>
                 <div class="col-md-4 text-center">
                    <p class="list-unstyled fs-13">45</p>
                 </div>  <div class="col-md-8">
                    <p class="list-unstyled fs-13">Post Concrete Checklist</p>
                 </div>
                 <div class="col-md-4 text-center">
                    <p class="list-unstyled fs-13">32</p>
                 </div>  <div class="col-md-8">
                    <p class="list-unstyled fs-13">Wall Finishes (Paint) Cchecklist</p>
                 </div>
                 <div class="col-md-4 text-center">
                    <p class="list-unstyled fs-13">30</p>
               </div>
            -->
                    </div>
                </div>
                <div class="card pd-10 my-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="fs-15 fw-700 mgb-10" style="border-bottom: 2px solid #000;width: 210px;">Top
                                Inspection/Permits by use</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Site Preparedness Inspection</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">150</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Employee Screenings</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">125</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Site Visitor Screenings</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">92</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Site Worker Screenings</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">95</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Form Work Checklist</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">70</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13"> Rainforcement Checklist</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">70</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Concrete Checklist</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">45</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Post Concrete Checklist</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">32</p>
                        </div>
                        <div class="col-md-8">
                            <p class="list-unstyled fs-13">Wall Finishes (Paint) Cchecklist</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p class="list-unstyled fs-13">30</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="vendor_list">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box first-box">
                        <div class="inner">
                            <!-- <h3 class="text-white mgb-10">{{total_inspections}}</h3> -->
                            <h3 class="text-white mgb-10">554</h3>


                            <p class="text-white">Inspection Till Date</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-shopping-bag"></i>
                        </div>
                        <!-- <a href="#" class="small-box-footer text-white">More info <i
                                class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box second-box">
                        <div class="inner">
                            <!-- <h3 class="text-white mgb-10">{{success_percent}}</h3> -->
                            <h3 class="text-white mgb-10">98%</h3>

                            <p class="text-white">Inspection Passed</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <!-- <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box third-box">
                        <div class="inner">
                            <h3 class="text-white mgb-10">15</h3>

                            <p class="text-white">NCRs Issued</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <!-- <a href="#" class="small-box-footer ">More info <i class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box fourth-box">
                        <div class="inner">
                            <h3 class="text-white mgb-10">443</h3>

                            <p class="text-white">Site Instructions</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <!-- <a href="#" class="small-box-footer text-white">More info <i
                                class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="display: block;" class="card pd-10">
                                <h1 class="fs-15 fw-700 mgb-5" style="border-bottom: 2px solid #000;width:140px">Safety
                                    Inspections</h1>
                                <canvas baseChart [datasets]="barvendorChartData" [labels]="barvendorChartLabels"
                                    [options]="barvendorChartOptions" [colors]="barvendorChartColors"
                                    [plugins]="barChartPlugins" [legend]="barvendorChartLegend"
                                    [chartType]="barvendorChartType">
                                </canvas>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="card pd-10">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="fs-15 fw-700 mgb-10 check-border-bottom">Vendor Performance</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13 fw-700">Vendor Name</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13 fw-700">Open Inspections</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13 fw-700">Open Site Instractions</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13 fw-700">Open NCRs</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Abhishek Singh</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">150</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">5</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">5</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Aditya Varma</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">2</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">7</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">7</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Amit Sachdeva</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">2</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">7</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">7</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Rohit Yadhav</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">20</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Deepak Varma</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">21</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">7</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Sam</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">291</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">72</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">8</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Naveen Reddy</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">291</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">72</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Analog It Solution</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">291</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">72</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Vedic Systems</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">291</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">72</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">Smart Solutions</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">291</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">72</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="list-unstyled fs-13">It Solution</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">291</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <p class="list-unstyled fs-13">72</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="list-unstyled fs-13">71</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>