<div class="container-fluid px-0">
  <div class="card">
      <div class="content-header">
          <div class="row">
              <div class="col-sm-6 pl-25">
                  <h3 class="m-0 font-weight-bold fnt-clr fs-700 p-3">Questions Checklist</h3>
              </div><!-- /.col -->

              <div class="col-sm-6">
                  <div class="alig_btns">
                      <div class="add_btn">
                          <button class="btn btn-primary mr-2 mright bg2" data-toggle="modal" data-target="#AddChecklist">
                              + Add Question</button>
                      </div>

                      <div class="bulk_btn">
                          <span class="btn btn-default btn-file bg1 mtop">
                              Bulk Upload <input type="file" (change)="excelfile($event)">
                          </span>

                          <div class="small06">*In CSV File or Excel Format</div>
                      </div>
                  </div>
              </div>
          </div><!-- /.row -->


          <div class="container-fluid">
              <div class="row">
                  <div class="table-responsive" style="overflow: auto !important">
                      <!-- <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                      </ngx-table> -->

                      <div class="card-body pt-0">
                          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                              <div class="row">
                                  <div class="col-sm-12 col-md-5">
                                    <div class="filter-sect">
                                      <span class="mr-2">Show</span>
                                      <div class="sele-drp">
                                          <select class="form-control">
                                              <option>5</option>
                                              <option>10</option>
                                              <option>15</option>
                                              <option>20</option>
                                          </select>
                                      </div>
                                      <span class="ml-2">Entries</span>
                                  </div>
                                  </div>


                                  <div class="col-sm-12 col-md-7">
                                    <div class="showhide pt-4 text-right floatright">
                                      <span class='text-right'>Show/Hide:</span>
                                      <span><i class="fa fa-table"></i></span>
                                  </div>
                                  </div>


                              </div>

                              <div class="row" *ngIf="showchecklist; else elseBlack">
                                  <div class="col-sm-12">
                                    <div class="table-responsive">
                                      <table id="example1"
                                          class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                          role="grid" aria-describedby="example1_info">
                                          <thead class="cls-light">
                                              <tr role="row">
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="Rendering engine: activate to sort column ascending">
                                                      S.No</th>
                                                      <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="Engine version: activate to sort column ascending">
                                                      Question ID</th>
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="CSS grade: activate to sort column ascending">Checklist Question
                                                  </th>
                                                  <!-- <th class="sorting sorting_desc" tabindex="0"
                                                      aria-controls="example1" rowspan="1" colspan="1"
                                                      aria-label="Browser: activate to sort column ascending"
                                                      aria-sort="descending">Name</th>
                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="Platform(s): activate to sort column ascending">
                                                      ID</th> -->

                                                  <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="CSS grade: activate to sort column ascending">
                                                      Status</th>

                                                  <th rowspan="1" colspan="1">Action
                                                  </th>
                                              </tr>
                                          </thead>
                                          <tbody>

                                              <tr class="odd" *ngFor="let checklist of checklists
                                              | paginate
                                              :{
                                                id:'listing_pagination',
                                                itemsPerPage:count,
                                                currentPage:page,
                                                totalItems:totalRecords
                                              }
                                              ;let i=index">
                                                  <td class="dtr-control">{{(page - 1) * count + i + 1}}</td>
                                                  <td>{{checklist.questionid}}</td>
                                                  <!-- <td>{{checklist.question}}</td> -->
                                                  <td>
                                                    <p class="text-overflow">
                                                        {{checklist.name}}
                                                    </p>
                                                  </td>
                                                  <!-- <td>{{checklist.name}}</td>
                                                  <td>{{checklist.id}}</td> -->
                                                  <!-- <td>
                                                      {{checklist.status}}
                                                  </td> -->
                                                  <!-- <td >{{checklist.admin_status}}</td> -->
                                                  <td *ngIf="checklist.status == false">InValid</td>
                                                  <td *ngIf="checklist.status == true">Valid</td>
                                                  <td>
                                                    <a class="cursor_pointer" data-toggle="modal" data-target="#View" (click)="view(checklist.id,checklist.name,checklist.questionid,checklist.status)">
                                                    <i class='fa fa-eye mr-1'></i>
                                                    </a>
                                                    <a class="cursor_pointer" data-toggle="modal" data-target="#UpdateChecklist" (click)="edit(checklist.id,checklist.question,checklist.question_id,checklist.admin_status)">
                                                    <i class="fa fa-edit mr-1"></i>
                                                    </a>
                                                    <a class="cursor_pointer" data-toggle="modal" data-target="#DeleteChecklist" (click)="delete(checklist.id)">
                                                    <i class="fa fa-trash mr-1"></i>
                                                    </a>
                                                </td>
                                              </tr>

                                          </tbody>

                                      </table>
                                    </div>

                                  </div>

                              </div>

                              <div class="my-2 text-right">
                                <pagination-controls id="listing_pagination" (pageChange)="page = $event"></pagination-controls>
                              </div>

                             <ng-template #elseBlack>
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <div class="card pd-10 text-center" style="background-color: #f7f8f8;">
                                            <h1 class="mgb-0 fs-20 fw-700 opacity-8">No Quality Questions is Available</h1>
                                            <!-- <div>
                                                <img src="assets/images/no-data.png" alt="" class="img-fluid">
                                            </div> -->
                                        </div>
                                    </div>
                                 </div>
                             </ng-template>

                              <!-- <div class="row">
                                  <div class="col-md-6 col-md-offset-6">


                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                          <ul class="pagination float-rt">
                                              <li class="paginate_button page-item previous disabled"
                                                  id="example1_previous"><a href="#" aria-controls="example1"
                                                      data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                              <li class="paginate_button page-item bg-blue active"><a href="#"
                                                      aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                      class="page-link">1</a></li>
                                              <li class="paginate_button page-item "><a href="#"
                                                      aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                      class="page-link">2</a></li>
                                              <li class="paginate_button page-item next" id="example1_next"><a
                                                      href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                                                      class="page-link">Next</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div> -->
                              <div class="row">
                                <div class="col-md-12">
                                 <ngx-spinner
                                 bdColor="rgba(51,51,51,0.8)"
                                 size="medium"
                                 color="#fff"
                                 type="ball-scale-multiple"
                               >
                                 <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                               </ngx-spinner>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

<!-- add -->

<ng-template #content let-modal>
  <div class="modal-header bg-blu">
      <h4 class="modal-title mb-0" id="modal-basic-title">Checklist Name</h4>

      <span aria-hidden="true" class="close cursor_point" aria-label="Close"
          (click)="modal.dismiss('Cross click')">&times;</span>

  </div>
  <div class="modal-body">

      <form [formGroup]="AddCheckList">
          <div class="row">


              <div class="form-group col-md-6 mb-3">
                  <label for="dateOfBirth">Checklist Question:</label>
                  <input type="text" class="form-control" formControlName="text" [ngClass]="{ 'is-invalid': submitted && f.text.errors }"/>
                  <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
                    <div *ngIf="f.text.errors.required" class="fs-13 fw-500">Checklist Question is required</div>
                  </div>
              </div>


              <div class="form-group col-md-6 mb-3">
                <label for="dateOfBirth">Status:</label>
                <!-- <input type="text" class="form-control" [(ngModel)]="updatestatus" formControlName="status" [ngClass]="{'is-invalid':updatesubmitted  && u.status.errors}"/> -->
                <select class="form-select" formControlName="status" [ngClass]="{'is-invalid':submitted  && f.status.errors}">
                  <option value="" selected>-- selected status --</option>
                  <option value="true">Valid</option>
                  <option value="false">InValid</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted  && f.status.errors">
                  <div class="fs-13 fw-500" *ngIf="f.status.errors.required">
                      Status is required
                  </div>
                </div>
              </div>

              <!-- <div class="form-group col-md-6 mb-3">
                  <label for="dateOfBirth">Status:</label>
                  <input type="text" class="form-control" />
              </div> -->


          </div>
      </form>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="Add()">Add Question</button>
  </div>
</ng-template>


<div class="modal fade" id="AddChecklist" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Quality Library List</h4>


            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

            <form [formGroup]="AddCheckList">
                <div class="row">


                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Checklist Question:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Checklist Question" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required" class="fs-13 fw-500">Checklist Question is required</div>
                        </div>
                    </div>


                    <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Status:</label>
                      <!-- <input type="text" class="form-control" [(ngModel)]="updatestatus" formControlName="status" [ngClass]="{'is-invalid':updatesubmitted  && u.status.errors}"/> -->
                      <select class="form-select" formControlName="status" [ngClass]="{'is-invalid':submitted  && f.status.errors}">
                        <option value="" selected>-- selected status --</option>
                        <option value="{{s.name}}" *ngFor="let s of Status">{{s.name}}</option>
                        <!-- <option value="InValid">InValid</option> -->
                      </select>
                      <div class="invalid-feedback" *ngIf="submitted  && f.status.errors">
                        <div class="fs-13 fw-500" *ngIf="f.status.errors.required">
                            Status is required
                        </div>
                      </div>
                    </div>

                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Status:</label>
                        <input type="text" class="form-control" />
                    </div> -->


                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Add()">Add Question</button>
        </div>
      </div>
    </div>
</div>

<!-- view -->

<div class="modal fade" id="View" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">View Record</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

          <form>
              <div class="row">
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Name:</label>
                      <p class="font-weight-bold">{{name}}</p>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">checklist id</label>
                    <p class="font-weight-bold">{{checklist_id}}</p>
                  </div>
                  <!-- <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Text</label>
                    <p class="font-weight-bold">{{text}}</p>
                  </div> -->
                  <div class="form-group col-md-6 mb-3">
                    <label for="dateOfBirth">Status:</label>
                    <p class="font-weight-bold">{{status}}</p>
                    <!-- <p class="font-weight-bold" *ngIf="status == false">InValid</p> -->
                    <!-- <p class="font-weight-bold">InValid</p> -->
                 </div>
              </div>
          </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary bg2" data-dismiss="modal" aria-label="Close">OK</button>
        </div>
      </div>

      </div>
</div>


<!-- Update saftylibrarylist -->

<div class="modal fade" id="UpdateChecklist" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Quality Library List</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

            <form [formGroup]="UpdateCheckList">
                <div class="row">

                    <!-- <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">ID:</label>
                      <input type="text" class="form-control" formControlName="id" [ngClass]="{'is-invalid':updatesubmitted  && u.id.errors}"/>
                      <div class="invalid-feedback" *ngIf="updatesubmitted  && u.id.errors">
                          <div class="fs-13 fw-500" *ngIf="u.id.errors.required">
                              Id is required
                          </div>
                      </div>
                  </div> -->

                  <div class="form-group col-md-6 mb-3">
                      <label for="">Checklist Id</label>
                      <input type="text" class="form-control" value="{{checklist_id}}" readonly>
                  </div>

                    <!-- <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Name:</label>
                        <input type="text" class="form-control" [(ngModel)]="name" formControlName="name" [ngClass]="{'is-invalid':updatesubmitted  && u.name.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted  && u.name.errors">
                          <div class="fs-13 fw-500" *ngIf="u.name.errors.required">
                            Name is required
                          </div>
                        </div>
                    </div> -->

                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Checklist Question:</label>
                        <input type="text" class="form-control" [(ngModel)]="name" formControlName="questionname" [ngClass]="{ 'is-invalid': updatesubmitted && u.questionname.errors }"/>
                        <div *ngIf="updatesubmitted && u.questionname.errors" class="invalid-feedback">
                          <div *ngIf="u.questionname.errors.required" class="fs-13 fw-500">Checklist Question is required</div>
                        </div>
                    </div>
<!--
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Status:</label>
                        <input type="text" class="form-control" [(ngModel)]="status" formControlName="status" [ngClass]="{'is-invalid':updatesubmitted  && u.status.errors}"/>
                        <div class="invalid-feedback" *ngIf="updatesubmitted  && u.status.errors">
                          <div class="fs-13 fw-500" *ngIf="u.status.errors.required">
                              Status is required
                          </div>
                        </div>
                    </div> -->

                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Status:</label>
                        <!-- <input type="text" class="form-control" [(ngModel)]="updatestatus" formControlName="status" [ngClass]="{'is-invalid':updatesubmitted  && u.status.errors}"/> -->
                        <select class="form-select" [(ngModel)]="status" formControlName="status" [ngClass]="{'is-invalid':updatesubmitted  && u.status.errors}">
                          <!-- <option  selected>{{status}}</option> -->
                          <option value="{{s.name}}" *ngFor="let s of Status" [selected]="s.name == status">{{s.name}}</option>
                          <!-- <option value="InValid">InValid</option> -->
                        </select>
                        <div class="invalid-feedback" *ngIf="updatesubmitted  && u.status.errors">
                            <div class="fs-13 fw-500" *ngIf="u.status.errors.required">
                                Status is required
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Update()">Update</button>
        </div>
      </div>
    </div>
</div>

<!-- delete  -->

<div class="modal fade" id="DeleteChecklist" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content pd-20 delete-bg">
         <h1 class="text-white fs-20">Are you sure, you want to delete the List </h1>
         <div class="d-flex justify-content-end">
            <button class="btn btn-primary bg2 mr-2" data-dismiss="modal" aria-label="Close">No</button>
            <button class="btn btn-primary bg2" (click)="Delete()">Yes</button>
         </div>
      </div>
    </div>
</div>
