<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-2">
                    <h3 class="font-weight-bold fnt-clr fs-700 header-bottom w-130">
                        Quality Inspection</h3>
                </div>

                <div class="col-sm-10">
                    <div class="alig_btns">
                        <div class="add_btn">
                            <button class="btn btn-primary mr-2 mright bg2" data-toggle="modal"
                                data-target="#AddQuality"> +
                                Add checklist</button>
                        </div>
                        <div class="bulk_btn">
                            <span class="btn btn-default btn-file bg1 mtop">
                                Bulk Upload <input type="file">
                            </span>

                            <div class="small06">*In CSV File or Excel Format</div>
                        </div>

                    </div>
                </div>
            </div><!-- /.row -->


            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive">

                        <div class="card-body p-0">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                               
                                <div class="row">
                                    <div class="col-sm-12 p-0">
                                        <table id="example1"
                                            class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                            role="grid" aria-describedby="example1_info">
                                            <thead class="cls-light">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        S.No</th>
                                                    <th class="sorting sorting_desc" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending"
                                                        aria-sort="descending">Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        CheckList Names</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Checklist ID
                                                    </th>
                                                    <th ngbDropdown class="sorting" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Project Assigned
                                                        
                                                    </th>
                                                    <th>Action
                                                    </th>
                                                </tr>
                                            </thead>
                                          
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
                                            type="ball-scale-multiple">
                                            <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                                        </ngx-spinner>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>