<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-6 pl-25">
                    <h3 class="m-0 font-weight-bold fnt-clr fs-700 p-3">Contacts Us Details</h3>
                </div><!-- /.col -->
  
                <div class="col-sm-6">
                    <div class="alig_btns">
                        <!-- <div class="add_btn p-3">
                            <button class="btn btn-primary mr-2 mright bg2" data-toggle="modal" data-target="#Addcompany">
                                + Add Client</button>
                        </div> -->
  
  
                        <!-- <div class="bulk_btn">
                            <span class="btn btn-default btn-file bg1 mtop">
                                Bulk Upload <input type="file" (change)="onFileSelect($event)" accept="application/pdf, application/vnd.ms-excel">
                            </span>
                            <div class="small06">*In CSV File or Excel Format</div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="container">
                  <!-- <div class="float-right">{{filename}}</div> -->
                  </div>
                </div>
            </div><!-- /.row -->
  
  
            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive">
                        <!-- <ngx-table [configuration]="configuration" [data]="data" [columns]="columns">
                        </ngx-table> -->
  
                        <div class="card-body pt-0">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                      <div class="filter-sect">
                                        <span class="mr-2">Show</span>
                                        <div class="sele-drp">
                                            <select class="form-control">
                                                <option>5</option>
                                                <option>10</option>
                                                <option>15</option>
                                                <option>20</option>
                                            </select>
                                        </div>
                                        <span class="ml-2">Entries</span>
                                    </div>
                                    </div>
  
  
                                    <div class="col-sm-12 col-md-7">
                                      <div class="showhide pt-4 text-right floatright">
                                        <span class='text-right'>Show/Hide:</span>
                                        <span><i class="fa fa-table"></i></span>
                                    </div>
                                    </div>
  
  
                                </div>
  
                                <div class="row">
                                    <div class="col-sm-12">
                                      <div class="table-responsive">
                                        <table id="example1" style="overflow: auto !important; width:1400px !important;"
                                            class="table mb-0 table-bordered table-striped dataTable dtr-inline"
                                            role="grid" aria-describedby="example1_info">
                                            <thead class="cls-light">
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Rendering engine: activate to sort column ascending">
                                                        S.No</th>
                                                        <!-- <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        Contact ID</th> -->
                                                    <th class="sorting sorting_desc" tabindex="0"
                                                        aria-controls="example1" rowspan="1" colspan="1"
                                                        aria-label="Browser: activate to sort column ascending"
                                                        aria-sort="descending">Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        Phone</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example1"
                                                        rowspan="1" colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">
                                                        Address</th>
                                                
                                                      <!-- <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="CSS grade: activate to sort column ascending">Start Date
                                                      </th>
                                                       <th class="sorting" tabindex="0" aria-controls="example1"
                                                      rowspan="1" colspan="1"
                                                      aria-label="CSS grade: activate to sort column ascending">End Date
                                                      </th> -->
  
                                                
  
                                                    <!-- <th class="sorting" tabindex="0" aria-controls="example1"
                                                    rowspan="1" colspan="1"
                                                    aria-label="CSS grade: activate to sort column ascending">Contact Person
                                                    </th> -->
  
                                                    <th rowspan="1" colspan="1">Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
  
                                                <tr *ngFor="let contact of Contactlist;let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{contact.name}}</td>
                                                    <td>{{contact.email}}</td>
                                                    <td>{{contact.phone}}</td>
                                                    <td>{{contact.address}}</td>
                                                    <td>
                                                        <a class="cursor_pointer" data-toggle="modal" data-target="#Viewcontacts" (click)="view(contact.id,contact.name,contact.email,contact.phone,contact.address)">
                                                            <i class='fa fa-eye mr-1'></i>
                                                            </a>
                                                            <!-- <a class="cursor_pointer" data-toggle="modal" data-target="#Updatebanner" (click)="edit(BannerList.id,BannerList.name,BannerList.image)">
                                                            <i class="fa fa-edit mr-1"></i>
                                                            </a> -->
                                                            <a class="cursor_pointer" data-toggle="modal" data-target="#Deletebanner" (click)="delete(contact.id)">
                                                            <i class="fa fa-trash mr-1"></i>
                                                            </a>
                                                    </td>
                                                </tr>

                                            </tbody>
  
                                        </table>
  
  
                                      </div>
  
                                    </div>
  
                                </div>
                                <div class="patch-cls">
  
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
  
  
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul class="pagination float-rt">
                                                <li class="paginate_button page-item previous disabled"
                                                    id="example1_previous"><a href="#" aria-controls="example1"
                                                        data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item bg-blue active"><a href="#"
                                                        aria-controls="example1" data-dt-idx="1" tabindex="0"
                                                        class="page-link">1</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                        aria-controls="example1" data-dt-idx="2" tabindex="0"
                                                        class="page-link">2</a></li>
                                                <li class="paginate_button page-item next" id="example1_next"><a
                                                        href="#" aria-controls="example1" data-dt-idx="3" tabindex="0"
                                                        class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                     <div class="col-md-12">
                                      <ngx-spinner
                                      bdColor="rgba(51,51,51,0.8)"
                                      size="medium"
                                      color="#fff"
                                      type="ball-scale-multiple"
                                    >
                                      <p style="font-size: 20px; color: white" class="mt-2">Loading...</p>
                                    </ngx-spinner>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- view -->

<!-- <div class="modal fade" id="Viewcontacts" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">View Record</h4>
      
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
      
        </div>
        <div class="modal-body">
  
          <form>
              <div class="row">
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Name:</label>
                      <p class="font-weight-bold">{{Contact_name}}</p>
                  </div>
    
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Phone:</label>
                      <p class="font-weight-bold">{{Contact_phone}}</p>
                  </div>
    
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Email:</label>
                      <p class="font-weight-bold">{{Contact_email}}</p>
                  </div>
    
    
                  <div class="form-group col-md-6 mb-3">
                      <label for="dateOfBirth">Address:</label>
                      <p class="font-weight-bold">{{Contact_address}}</p>
                  </div>
    
              </div>
          </form>
    
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary bg2" data-dismiss="modal" aria-label="Close">OK</button>
        </div>
      </div>
  
      </div>
</div> -->

<div class="modal fade" id="Viewcontacts" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blu">
            <h4 class="modal-title mb-0" id="modal-basic-title">Contacts View Record</h4>
      
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
      
        </div>
        <div class="modal-body">
  
            <form>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Name:</label>
                        <p class="font-weight-bold">{{Contact_name}}</p>
                    </div>
      
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Phone:</label>
                        <p class="font-weight-bold">{{Contact_phone}}</p>
                    </div>
      
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Email:</label>
                        <p class="font-weight-bold">{{Contact_email}}</p>
                    </div>
      
      
                    <div class="form-group col-md-6 mb-3">
                        <label for="dateOfBirth">Address:</label>
                        <p class="font-weight-bold">{{Contact_address}}</p>
                    </div>
      
                </div>
            </form>
      
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary bg2" data-dismiss="modal"  aria-label="Close">OK</button>
        </div>
      </div>
      </div>
</div>

<!-- delete -->

<div class="modal fade" id="Deletebanner" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content pd-20 delete-bg">
         <h1 class="text-white fs-20">Are you sure, you want to delete the Contact</h1>
         <div class="d-flex justify-content-end">
            <button class="btn btn-primary bg2 mr-2" data-dismiss="modal" aria-label="Close">No</button>
            <button class="btn btn-primary bg2" (click)="Delete()">Yes</button>
         </div>
      </div>
    </div>
</div>