<div class="container-fluid px-0">
    <div class="card">
        <div class="content-header">
            <div class="row">
                <div class="col-sm-2">
                    <h3 class="header-bottom font-weight-bold fnt-clr fs-700 w-70">FAQs List</h3>
                </div><!-- /.col --> 
  
               
            </div><!-- /.row -->
  
  
            <div class="container-fluid pd-20">
                <div class="row" *ngIf="FaqsLists !==0;else elseBlack">

                   <div class="col-md-12">

                       <!-- <div class="card cls-cream pd-5">
                         <h1 class="mgb-0 fs-20">
                             {{Faq.question}}
                         </h1>
                       </div> -->

                       <div class="accordion" id="accordionExample">

                        <div class="card" *ngFor="let faq of FaqsLists;let i=index">
                          <div class="card-header d-flex align-items-center" id="headingOne">
                            <h2 class="mgb-0 fs-15">{{i+1}}</h2>
                            <h2 class="mb-0">
                                
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#test' + i" aria-expanded="true" aria-controls="collapseOne">
                                {{faq.question}}
                              </button>
                            </h2>
                          </div>
                      
                          <div id="test{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              {{faq.answer}}
                            </div>
                          </div>
                        </div>
    
                       </div>

                   </div>

                </div>
                <ng-template #elseBlack>
                  <div class="row my-2">
                      <div class="col-md-12">
                          <div class="card pd-10 text-center" style="background-color: #f7f8f8;">
                              <h1 class="mgb-0 fs-20 fw-700 opacity-8">No Vendors is Available</h1>
                              <!-- <div>
                                  <img src="assets/images/no-data.png" alt="" class="img-fluid">
                              </div> -->
                          </div>
                      </div>
                   </div>
              </ng-template>
            </div>
        </div>
    </div>
  </div>